$color_red: #E8634E;
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Montserrat&display=swap');
.prez{
    text-align: center;
    .propos{
        justify-content: center;
        display: flex;
        align-items: center;
        .barre_gauche{
            border: solid $color_red 2px;
            width: 100%;
            @media (min-width: 1024px){
                width: 30%;
              }
        }
        .prez_h2{
            color: $color_red;
            font-size: 20px;
            margin: 5px;
            white-space: nowrap;
            font-family: 'Montserrat', sans-serif;
            margin-left: 30px;
            margin-right: 30px;
            @media (min-width: 1024px){
                font-size: 2rem;
              }
        }
        .barre_droite{
            border: solid $color_red 2px;
            width: 100%;
            @media (min-width: 1024px){
                width: 30%;
              }
        }

    }
    .prez_h3{
        color: $color_red;
        font-family: 'Montserrat', sans-serif;
        @media (min-width: 1024px){
            font-size: 1.5rem;
          }

    }
    .prez_p{
        text-align: justify;
        width: 90%;
        margin: auto;
        font-family: 'Klee One', cursive;
        @media (min-width: 1024px){
            font-size: 1.3rem;
            text-align: center;
            width: 60%;
          }
    }
}