    
    .ul_navigation{
        background: #E8634E;
        border-radius: 10px;
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        height:30px;
        width: auto;
        justify-content: space-between;
        padding-top: 5px;
        .a_navigation{
            color:black;
            text-decoration: none;
            margin: 15px;
            margin-left: -20px;
            margin-bottom: -30px;
            font-size: 12px;
            width:50px ;
            
        }
    }

