    
    .ul_navigation{
        background: #E8634E;
        border-radius: 10px;
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        height:40px;
        width: auto;
        
        .li_navigation{
            width: auto;
            margin: auto;
            justify-content: center;
            .a_navigation{
                
                color:black;
                text-decoration: none;
                margin-left: -20px;
                font-size: 12px;
                width:50px ;
                
            }
        }
    }

