$color_red:#E8634E;
.skill_title{
        justify-content: center;
        display: flex;
        align-items: center;
        margin-top: 10px;
    .barre_gauche{
        border: solid $color_red 2px;
        width: 100%;
    }
    .skill_h2{
        color: #E8634E;
        text-align: center;
        margin:5px;
    }
    .barre_droite{
        border: solid $color_red 2px;
        width: 100%;
    }
}