$color_red:#E8634E;

.skill_title{
        justify-content: center;
        display: flex;
        align-items: center;
        margin-top: 10px;
    .barre_gauche{
        border: solid $color_red 2px;
        width: 100%;
        @media (min-width: 1024px){
            width: 34%;
          }
    }
    .btn_skill{
        background-color: #C9C7B7 ;
        color: #E8634E;
        border: none;

        .skill_h2{
            text-align: center;
            margin:5px;
            font-family: 'Montserrat', sans-serif;
            margin-left: 38px;
            margin-right: 38px;
            @media (min-width: 1024px){
                font-size: 2rem;
              }
        }
    }
    .barre_droite{
        border: solid $color_red 2px;
        width: 100%;
        @media (min-width: 1024px){
            width: 34%;
          }
    }
}
.skill_items{
    width:100%;
    .item1{
        width: auto;
        margin: auto ;
        display: flex;
        .img_item1{
            margin: 5px;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
            transform: scale(1);
            transition: 1s;
            &:hover{
                transform: scale(1.3);
                transition: 1.5s;
            }
           
        }
    }

    .item2{
        width: auto;
        margin: auto ;
        display: flex;
        .img_item2{
            margin: 5px;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
            transform: scale(1);
            transition: 1s;
            &:hover{
                transform: scale(1.3);
                transition: 1.5s;
            }
           
        }
    }
    .item3{
        width: auto;
        margin: auto ;
        display: flex;
        .img_item3{
            margin: 5px;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
            transform: scale(1);
            transition: 1s;
            &:hover{
                transform: scale(1.3);
                transition: 1.5s;
            }
           
        }
    }
    .item4{
        width: auto;
        margin: auto;
        display: flex;
        .img_item4{
            margin: 5px;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
            transform: scale(1);
            transition: 1s;
            &:hover{
                transform: scale(1.3);
                transition: 1.5s;
            }
           
        }
    }
    .item5{
        width: auto;
        margin: auto;
        display: flex;
        .img_item5{
            margin: 5px;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
            transform: scale(1);
            transition: 1s;
            &:hover{
                transform: scale(1.3);
                transition: .5s;
            }
           
        }
    }
    
    
}