$color_red: #E8634E;
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Montserrat&display=swap');
.hobbies{
    text-align: center;
    margin-top: 10px;
    .hob{
       
        justify-content: center;
        display: flex;
        align-items: center;
        .barre_gauche{
            border: solid $color_red 2px;
            width: 100%;
            @media (min-width: 1024px){
                width: 30%;
              }
            }
        .hobbies_h2{
            text-align: center;
            color: $color_red;
            font-size: 20px;
            margin: 5px;
            white-space: nowrap;
            font-family: 'Montserrat', sans-serif;
             }
             .barre_droite{
                border: solid $color_red 2px;
                width: 100%;
                @media (min-width: 1024px){
                    width: 30%;
                  }
            }
    }
    .slider{
        width: 128px;
        height: 128px;
        margin: auto;
        margin-top: 10px;
        .react-slideshow-container .default-nav {
            display: none;
        }
        .react-slideshow-wrapper slide{
            display: none;
            width: 128px;
            height: 128px;
            
        }
    } 
    
    .hobbies_p{
        border: solid #E8634E 1px;
        text-align: center;
        width: 200px;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
            .hobbies_a{
                text-align: center;
                color: #E8634E;
                text-decoration: none;
                font-family: 'Montserrat', sans-serif;
            }
    }
}
