$color_beige:#C9C7B7;
$color_red: #E8634E;
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Montserrat&display=swap');

.footer_box{
    background: $color_red;
    border-radius: 8px;
    .footer_title{
            justify-content: center;
            display: flex;
            align-items: center;
            
        .barre_gauche{
            border: solid $color_beige 2px;
            width: 100%;
            @media (min-width: 1024px){
                width: 30%;
              }
        }
        .footer_h2{
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            color: $color_beige;
            margin: 5px;
            font-size: 20px;
        }
        .barre_droite{
            border: solid $color_beige 2px;
            width: 100%;
            @media (min-width: 1024px){
                width: 30%;
              }
        }
    }
    .footer_duo{
        font-family: 'Klee One', cursive;
        display: flex;
        margin: 5px;
        padding: 5px;

        .footer_email{
            width: 100%;
            @media (max-width: 280px) {
                width: 50%;
              }
            text-align: center;
            .footer_h3{
                margin: 10px;
                font-size: 12px;
            }
            .footer_form{
                margin: 10px;
                display: flex;
                flex-direction: column;
                input[type=text], input[type=email]{
                    border-radius: 6px;
                    margin: 1px;
                    text-align: center;
                }
                textarea{
                    margin: 4px;
                    border-radius: 6px;
                    height: 40px;
                } 
                input[type=submit]{
                    border-radius: 6px;
                    margin: 1px auto;
                    width: 80px;
                }
            }
        }
        .footer_reseaux{
            width: 100%;
            margin: auto;
            text-align: center;
            @media (max-width: 280px) {
                width: 50%;
              }
            .footer_h3{
                margin: 10px;
                font-size: 12px;
            }
            .footer_img{
                display: flex;
                flex-direction: column;
                margin:10px;
                img{
                    margin: 10px auto;
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }
    .footer_copyR{
        color: white;
        font-size: 10px;
        text-align: center;
        font-family: 'Klee One', cursive;
    }
}